# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
build/
.eggs/

# Virtual environment
venv/
.venv/
env/

# Node
node_modules/
dist/

# Django
*.log
db.sqlite3
staticfiles/
local_settings.py

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
